*{
    margin:0;
    padding: 0;
    
    
}
/*-------------------------------------------------menu--------------------------------------------------------------------*/
.navbar-collapse{
    flex-direction: row-reverse !important;
}
/*----------------------------------------------------menu-------------------------------------------------------*/

/*----------------------------------------------------fondo------------------------------------------------------*/

body{/*
    background: #c33764; 
    background: -webkit-linear-gradient(to right, #c33764, #1d2671); 
    background: linear-gradient(to right, #c33764, #1d2671); 
     */
    background: rgb(206, 201, 201);
}
/*-----------------------------------------------------fondo------------------------------------------------------*/

/*---------------------------------------pie de pagina-----------------------------------------------------------------*/
footer #pie-de-pagina{
    color:black;
    font-size: 25px;
    height: 40px;
    background-color: rgb(241, 237, 237);
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0px;
    left: 0;
    right: 0;
    margin:0;
    padding: 0;
    }
 /* --------------------------------------------------------------------------------------------------------------------*/ 
/*-----------------------------------------------------home-------------------------------------------------------*/

.presentacion{
    display: flex;
    flex-wrap: wrap;
    padding-top: 200px;;
    padding-left: 100px;
    padding-right: 100px;
    font-family: 'Kirang Haerang', cursive;
    font-size: 25px;
    color: cornsilk;
    
}

.redes{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        padding-top: 600px;
        padding-bottom: 10px;
        margin: 10px;
}

.redes button{
    padding-top: 10px;
}
     /* --------------------facebook----------------------*/
.btn--1{
        display: flex;
        justify-content: space-around;
        border-radius: 4px;
        background-color: transparent;
        transition: all 500ms ease;
        border: 2px solid blue;
        margin-bottom: 40px;
        font-weight: 700;
        }
    .btn--1 a{
        color: cornsilk;
        text-decoration: none;
        font-size: 30px;
        font-family: 'Kirang Haerang', cursive;
        }
    
    .btn--1:hover{
        background-color: blue;
        box-shadow: 0 0 10px blue, 0 0 20px blue, 0 0 20px blue;
        color: #434343;
            }
    /*-----------------------instagram-----------------------*/        
    
    .btn--2{
        display: flex;
        justify-content: space-around;
        border-radius: 4px;
        background-color: transparent;
        transition: all 500ms ease;
        border: 2px solid #f307e733;
        margin-bottom: 40px;
        font-weight: 700;
        }
    .btn--2 a{
        color: cornsilk;
        text-decoration: none;
        font-size: 30px;
        font-family: 'Kirang Haerang', cursive;
            }
            
    .btn--2:hover{
        background-color: #f307e733;
        box-shadow: 0 0 10px #f307e733, 0 0 20px #f307e733, 0 0 20px #f307e733;
        color: #434343;
    }
        

               
            
    /*-------------------------------twiter--------------------------*/
     .btn--3{
        display: flex;
        justify-content: space-around;
        border-radius: 4px;
        background-color: transparent;
        transition: all 500ms ease;
        border: 2px solid #20e2d7;
        margin-bottom: 40px;
        font-weight: 700;
        }
    .btn--3 a{
        color:cornsilk;
        text-decoration: none;
        font-size: 30px;
        font-family: 'Kirang Haerang', cursive;
            }
            
    .btn--3:hover{
        background-color: #20e2d7;
        box-shadow: 0 0 10px #20e2d7, 0 0 20px #20e2d7, 0 0 20px #20e2d7;
        color: #434343;
                } 
                
        /*------------------------------------whattsapp------------------*/  
    .btn--4{
        display: flex;
        justify-content: space-around;
        border-radius: 4px;
        background-color: transparent;
        transition: all 500ms ease;
        border: 2px solid #0bee4f;
        margin-bottom: 40px;
        font-weight: 700;
            }
    .btn--4 a{
        color:cornsilk;
        text-decoration: none;
        font-size: 30px;
        font-family: 'Kirang Haerang', cursive;
                }
                
    .btn--4:hover{
            background-color: #0bee4f;
            box-shadow: 0 0 10px #0bee4f, 0 0 20px #0bee4f, 0 0 20px #0bee4f;
            color: #434343;
                    } 
                    
     @media (max-width: 600px) {
    .btn--1,.btn--2,.btn--3,.btn--4{
    width: 50%;
    padding: 10px;
    }
    }

/* --------------------------------------------titulos cursos internacionales---------------------------------------------------------------*/
.cursosint {
	margin: 0;
	padding-top: 150px;
	width: 100%;
}

.cursosint div {
	box-sizing: border-box;
	min-width: 250px;
	padding: 50px;
    border-radius: 20px;
}

.MoreInfo a{
    float: right;
    font-size: 20px;
    text-decoration: none;
    margin: 10px;
    color:red;
    
}

.titulo-int {
	color: black;
	background-color: #E6EBE0;
}

.info-int {
	color: black;
	background-color: #F4F1BB;
}

.c1 {
	color: black;
	background-color: #9BC1BC;
}

.c2 {
	color: black;
	background-color: #36C9C6;
}

.c3 {
	color: cornsilk;
	background-color: #ED6A5A;
}

.cursosint {
	display: -webkit-flex;
	display: flex;
	-webkit-flex-flow: row wrap;
	flex-flow: row wrap;
}

.titulo-int, .info-int, .c1, .c2, .c3 {
	width: 100%;
}

@media (min-width: 600px) {
	.info-int, .c1, .c2, .c3 {
		width: 50%;
	}
}

@media (min-width: 800px) {
	.titulo-int  {
		width: 100%;
	}

	.info-int {
		width: 100%;
	}

	.c1, .c2, .c3 {
		width: 33.33%;
	}

	.cursosint {
		width: 800px;
		margin-left: auto;
		margin-right: auto;
	}
}
/*-------------------------------------------------formulario-----------------------------------------------*/

 .form-contacto h1{
    text-align: center;
    color: cornsilk;
}
.borde{
    width: 100px;
    height: 10px;
    background:transparent;
    margin: 40px auto;
}
.form-contacto{
    max-width: 600px;
    margin:auto;
    padding: 0 10px;
    overflow:hidden ;
    padding-top:150px;
    padding-bottom: 150px;
}
.texto-formulario{
    display: flex;
    width: 100%;
    box-sizing: border-box;
    margin: 15px 0;
    border: 0;
    background:cornsilk;
    padding: 20px 40px;
    color: blueviolet;
    transition: 0.5s;
}
.texto-formulario:hover{
    box-shadow: 0 0 10px 4px #2980b9;
}
textarea.texto-formulario{
resize: none;
height: 120px;
color: blueviolet;
font-size: 15px;
}

.formulario-btn{
    float: right;
    border: 0;
    background:cornsilk;
    padding: 12px 50px;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.5s;
}
.formulario-btn:hover{
    background: #2980b9;
}



/*-------------------------------------------------formulario-----------------------------------------------*/

/*---------------------------------------------------cursos--------------------------------------------------*/
.cursos{
    width: 100%;
    height: 100%;
    font-family: 'Kirang Haerang', cursive;
    color: cornsilk;

}
.cursos p{
    text-align: center;
    font-size: 20px;
}
.titulo{
    text-align: center;
    margin-top: 150px;
    }
.container-curs{
    width: 100%;
    max-width: 1200px;
    height: 430px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    }

.tipo{
    width: 500px;
    height: 500px;
    border-radius: 10px;
    box-shadow: 0 2px 2px cornsilk;
    overflow: hidden;
    margin: 20px;
    text-align: center;
    transition: 0.5s;
}
.tipo:hover{
    transform: translateY(-15px);
}
.tipo img{
    width: 300px;
    height: 200px;
}
.tipo h2{
    font-size: 25px;
}
.tipo p{
    font-size: 20px;
}
.tipo a{
    font-size: 20px;
    text-decoration: none;
    float: right;
    margin: 10px;
    color: red;
}

/*---------------------------------------------------cursos--------------------------------------------------*/
 /*------------------------------------------------conversacion--------------------------------------------*/
.conversacion{
    width: 100%;
    height: 100%;
    font-family: 'Kirang Haerang', cursive;
   color:cornsilk;

}
.conversacion p{
    text-align: center;
    font-size: 20px;
}
.titulo{
    text-align: center;
    margin-top: 150px;
    }
.container-conv{
    width: 100%;
    max-width: 1200px;
    height: 430px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
}

.tipo{
    width: 500px;
    height: 500px;
    border-radius: 10px;
    box-shadow: 0 2px 2px cornsilk;
    overflow: hidden;
    margin: 20px;
    text-align: center;
    transition: 0.5s;
}
.tipo:hover{
    transform: translateY(-15px);
}
.tipo img{
    width: 300px;
    height: 200px;
}
.tipo h2{
    font-size: 25px;
}
.tipo p{
    font-size: 20px;
}
.tipo a{
    font-size: 20px;
    text-decoration: none;
    float: right;
    margin: 10px;
    color: red;
}

/*--------------------------conversacion--------------------------------------------*/